.ocWidget__chat__top-menuHeading, .ocWidget__chat__top-allHeading, .ocWidget__chat__top-msgHeading, .ocWidget__chat__top-csiHeading {
    color: #ffffff!important;
}
.ocWidget__chat {
    z-index: 100000;
    position: fixed;
    right: 20px;
    bottom: 20px;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2), 0 5px 15px 0 rgba(100, 100, 100, 0.3);
    height: 470px;
    width: 300px;
    border-radius: 3px;
    background: #fff;
    transition: transform .3s ease, box-shadow .3s ease;
}
.ocWidget__chat__top {
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    height: 55px;
    text-align: center;
    background-color: #00abe8;
    padding: 0 55px;
    z-index: 100000;
    border-radius: 3px 3px 0 0;
}
.ocWidget__chat__top {
    background-color: #ff8c00;
}
.ocWidget__chat__top-menu {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 55px;
    cursor: pointer;
    transition: background-color .1s ease;
}
.ocWidget__chat{
	font: 10px "PT Sans", Arial, sans-serif, Candara, Segoe, "Segoe UI", Optima;
}
.ocWidget__chat__top-allHeading, .ocWidget-heading{
	font-size: 1.7em;
    font-weight: 600;
    color: #2B2B2B;
}
.ocWidget__chat__top-allHeading {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    margin-top: 10px;
    color: white;
}
.ocWidget__chat__mid__alert__message-text {
    word-wrap: break-word;
	text-align: center;
    word-break: break-word;
    font-weight: normal;
    line-height: 1.7;
}
.ocWidget__chat__mid__alert__message {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 230px;
}
.button-brand-245 {
    color: #fff;
    background: #FF8C00;
}
.button-minor-244 {
    height: 42px;
    font-size: 14px;
    min-width: 100px;
    border-radius: 21px;
}
.button-self-241 {
    width: 100%;
    border: none;
    margin: 0;
    outline: none;
    padding: 0;
    position: relative;
    transition: color 333ms ease-in-out, background 333ms ease-in-out, border-color 333ms ease-in-out, box-shadow 333ms ease-in-out, fill 333ms ease-in-out, stroke 333ms ease-in-out;
    font-family: inherit;
    font-weight: 500;
}
.button-brand-245:hover {
    background: #ff8200;
}
.button-self-241:hover {
    cursor: pointer;
}
.ocWidget-description {
    font-size: 1.3em;
    font-weight: 100;
    color: #2B2B2B;
}
.dialog-self-146 {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  z-index: 9999;
  position: fixed;
  overflow: auto;
  text-align: center;
}
.dialog-self-146:before {
  height: 100%;
  content: "";
  display: inline-block;
  vertical-align: middle;
}
.dialog-container-147 {
  box-sizing: inherit;
}
.dialog-backdrop-148 {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: auto;
  position: fixed;
  background-color: rgba(255,255,255,0.96);
}
.dialog-content-149 {
  border: 1px solid rgba(0,0,0,0.07);
  display: inline-block;
  outline: none;
  position: relative;
  text-align: left;
  box-shadow: 0 25px 50px -8px rgba(0,0,0,0.1);
  border-radius: 10px;
  vertical-align: middle;
  background-color: #fff;
}

.component-self-43 {
  width: 30px;
  height: 30px;
  animation: jss-spinner-self 2000ms linear infinite;
  transform-origin: center center;
}
.component-status-44 {
  fill: none;
  stroke: #FF8C00;
  animation: jss-spinner-status 1500ms ease-in-out infinite;
  stroke-width: 5;
  stroke-linecap: round;
  stroke-dasharray: 89, 200;
  stroke-dashoffset: 0;
}


.api-popup-header-self-168 {
  padding: 40px 50px;
  position: relative;
  border-bottom: 1px solid rgba(0,0,0,0.08);
}
.api-popup-header-close-169 {
  top: 15px;
  right: 15px;
  width: 24px;
  height: 24px;
  cursor: pointer;
  opacity: 0.3;
  position: absolute;
  transition: opacity 120ms cubic-bezier(0.4, 0.0, 0.2, 1);
}
.api-popup-header-close-169:hover {
  opacity: 0.6;
}
.api-popup-header-close-icon-self-170 {
  width: 100%;
  height: 100%;
}
.api-popup-header-close-icon-path-171 {
  fill: #000;
}

.switch-self-175 {
  cursor: pointer;
  outline: none;
  position: relative;
  margin-top: 8px;
  margin-bottom: 8px;
}
.switch-self-175:first-child {
  margin-top: 0;
}
.switch-self-175:last-child {
  margin-bottom: 0;
}
.switch-self-175:focus .switch-check-176 {
  box-shadow: 0 0 0 2px #FF8C00;
}
.switch-self-175:hover .switch-check-176 {
  box-shadow: 0 0 0 2px #FF8C00;
}
.switch-check-176 {
  top: 0;
  left: 0;
  width: 18px;
  height: 18px;
  display: block;
  position: absolute;
  box-shadow: 0 0 0 2px transparent;
  transition: box-shadow 120ms cubic-bezier(0.4, 0.0, 0.2, 1);
  user-select: none;
  border-radius: 3px;
  background-color: rgba(0,0,0,0.1);
}
.switch-icon-self-177 {
  top: -5px;
  left: 0;
  width: 24px;
  height: 24px;
  display: none;
  position: absolute;
}
.switch-icon-path-178 {
  fill: #000;
}
.switch-label-179 {
  width: 100%;
  display: inline-block;
  word-wrap: break-word;
  word-break: break-word;
  white-space: pre-wrap;
  padding-left: 33px;
  margin-bottom: 4px;
}
.switch-description-180 {
  color: #666;
  font-size: 13px;
  word-wrap: break-word;
  text-align: left;
  word-break: break-word;
  white-space: pre-wrap;
  padding-left: 33px;
}
.switch-checked-181 .switch-icon-self-177 {
  display: block;
}
.switch-disabled-182 {
  cursor: default;
}
.switch-disabled-182 .switch-icon-path-178 {
  fill: #aaa;
}
.switch-disabled-182 .switch-label-179 {
  color: rgba(0,0,0,0.4);
}
.switch-disabled-182 .switch-description-180 {
  color: rgba(0,0,0,0.4);
}
.switch-disabled-182:focus .switch-check-176 {
  box-shadow: none;
}
.switch-disabled-182:hover .switch-check-176 {
  box-shadow: none;
}

.button-self-102 {
  width: 100%;
  border: none;
  margin: 0;
  outline: none;
  padding: 0;
  position: relative;
  transition: color 333ms ease-in-out, background 333ms ease-in-out, border-color 333ms ease-in-out, box-shadow 333ms ease-in-out, fill 333ms ease-in-out, stroke 333ms ease-in-out;
  font-family: inherit;
  font-weight: 500;
}
.button-self-102:hover {
  cursor: pointer;
}
.button-accent-103 {
  height: 54px;
  font-size: 17px;
  min-width: 180px;
  border-radius: 29px;
}
@media (min-width: 1280px) {
  .button-accent-103 {
    height: 58px;
    min-width: 200px;
    font-size: 19px;
  }
}
.button-accent-103 .button-content-115 {
  padding: 0 38px;
}
.button-accent-103 .button-content-icon-116 {
  width: 24px;
  height: 24px;
  margin-top: 16px;
  margin-right: 12px;
}
.button-accent-103 .button-content-text-117 {
  height: 23px;
  margin-top: 16px;
  line-height: 1.2105263157894737;
}
.button-accent-103 .button-spinner-self-120 {
  width: 30px;
  height: 30px;
}
.button-accent-103 .button-spinner-status-121 {
  stroke-width: 5;
}
.button-normal-104 {
  height: 47px;
  font-size: 16px;
  min-width: 150px;
  border-radius: 24px;
}
.button-normal-104 .button-content-115 {
  padding: 0 30px;
}
.button-normal-104 .button-content-icon-116 {
  width: 20px;
  height: 20px;
  margin-top: 13px;
  margin-right: 10px;
}
.button-normal-104 .button-content-text-117 {
  height: 19px;
  margin-top: 13px;
  line-height: 1.1875;
}
.button-normal-104 .button-spinner-self-120 {
  width: 25px;
  height: 25px;
}
.button-normal-104 .button-spinner-status-121 {
  stroke-width: 5.5;
}
.button-minor-105 {
  height: 42px;
  font-size: 14px;
  min-width: 100px;
  border-radius: 21px;
}
.button-minor-105 .button-content-115 {
  padding: 0 24px;
}
.button-minor-105 .button-content-icon-116 {
  width: 18px;
  height: 18px;
  margin-top: 11px;
  margin-right: 8px;
}
.button-minor-105 .button-content-text-117 {
  height: 17px;
  margin-top: 12px;
  line-height: 1.2142857142857142;
}
.button-minor-105 .button-spinner-self-120 {
  width: 20px;
  height: 20px;
}
.button-minor-105 .button-spinner-status-121 {
  stroke-width: 6;
}
.button-brand-106 {
  color: #fff;
  background: #FF8C00;
}
.button-brand-106:hover {
  background: #ff8200;
}
.button-brand-106:focus {
  background: #ff8200;
}
.button-brand-106:active {
  color: rgba(255,255,255,0.9);
}
.button-brand-106 .button-icon-path-112 {
  fill: #fff;
}
.button-brand-106 .button-spinner-status-121 {
  stroke: #fff;
}
.button-brand-106:active .button-icon-path-112 {
  fill: rgba(255,255,255,0.9);
}
.button-contrast-107 {
  color: #fff;
  background: #0055bb;
}
.button-contrast-107:hover {
  background: #031f8e;
}
.button-contrast-107:focus {
  background: #031f8e;
}
.button-contrast-107:active {
  color: rgba(255,255,255,0.9);
}
.button-contrast-107 .button-icon-path-112 {
  fill: #fff;
}
.button-contrast-107 .button-spinner-status-121 {
  stroke: #fff;
}
.button-contrast-107:active .button-icon-path-112 {
  fill: rgba(255,255,255,0.9);
}
.button-simple-108 {
  color: #000;
  border: 1px solid rgba(0,0,0,0.14);
  background: #fff;
  background-clip: padding-box;
}
.button-simple-108:hover {
  border: 1px solid rgba(0,0,0,0.3);
}
.button-simple-108:focus {
  border: 1px solid rgba(0,0,0,0.3);
}
.button-simple-108:active {
  color: rgba(0,0,0,0.9);
  border: 1px solid rgba(0,0,0,0.3);
}
.button-simple-108.button-disabled-114 {
  border: 1px solid rgba(0,0,0,0.1);
}
.button-simple-108 .button-icon-path-112 {
  fill: rgba(0,0,0,0.9);
}
.button-simple-108 .button-spinner-status-121 {
  stroke: #FF8C00;
}
.button-simple-108.button-minor-105 .button-content-icon-116 {
  margin-top: 10px;
}
.button-simple-108.button-minor-105 .button-content-text-117 {
  margin-top: 11px;
}
.button-simple-108.button-normal-104 .button-content-icon-116 {
  margin-top: 12px;
}
.button-simple-108.button-normal-104 .button-content-text-117 {
  margin-top: 12px;
}
.button-simple-108.button-accent-103 .button-content-icon-116 {
  margin-top: 15px;
}
.button-simple-108.button-accent-103 .button-content-text-117 {
  margin-top: 15px;
}
.button-simple-108:active .button-icon-path-112 {
  fill: rgba(0,0,0,0.8);
}
.button-landing-109 {
  color: #fff;
  font-size: 14px;
  box-shadow: 0 5px 23px 0 rgba(255,140,0,0.5);
  border-radius: 29px;
  background-image: linear-gradient(to bottom, #ff9e16, #ff7f00);
}
.button-landing-109:hover {
  box-shadow: 0 16px 35px 0 rgba(255,140,0,0.25);
}
.button-landing-109:focus {
  color: rgba(255,255,255,0.9);
}
.button-landing-109:active {
  color: rgba(255,255,255,0.9);
}
@media (min-width: 600px) {
  .button-landing-109 {
    width: auto;
  }
}
@media (min-width: 1024px) {
  .button-landing-109 {
    font-size: 19px;
  }
}
@media (min-width: 1280px) {
  .button-landing-109 {
    min-width: 280px;
    font-size: 22px;
    border-radius: 35px;
  }
}
.button-landing-109 .button-content-115 {
  padding: 14px 30px;
  align-items: center;
}
.button-landing-109 .button-content-icon-116 {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  margin-bottom: 2px;
}
.button-landing-109 .button-icon-path-112 {
  fill: #fff;
}
.button-landing-109 .button-content-text-117 {
  line-height: 1.43;
}
@media (min-width: 1024px) {
  .button-landing-109 .button-content-text-117 {
    line-height: 1.26;
  }
}
@media (min-width: 1280px) {
  .button-landing-109 .button-content-text-117 {
    line-height: 1.45;
  }
}
@media (min-width: 1280px) {
  .button-landing-109 .button-content-icon-116 {
    width: 32px;
    height: 32px;
  }
}
@media (min-width: 1024px) {
  .button-landing-109 .button-content-115 {
    padding: 18px 36px;
  }
}
@media (min-width: 1280px) {
  .button-landing-109 .button-content-115 {
    padding: 20px 44px;
  }
}
.button-shadow-110.button-brand-106 {
  box-shadow: 0 10px 15px 0 rgba(255,140,0,0.2);
}
.button-shadow-110.button-contrast-107 {
  box-shadow: 0 12px 15px 0 rgba(0,85,187,0.2);
}
.button-shadow-110.button-simple-108 {
  border: 1px solid rgba(0,0,0,0.08);
  box-shadow: 0 12px 15px 0 rgba(0,0,0,0.05);
}
.button-shadow-110.button-simple-108:hover {
  border: 1px solid rgba(0,0,0,0.08);
  box-shadow: 0 12px 18px 0 rgba(0,0,0,0.1);
}
.button-shadow-110.button-simple-108:focus {
  border: 1px solid rgba(0,0,0,0.08);
  box-shadow: 0 12px 18px 0 rgba(0,0,0,0.1);
}
.button-shadow-110.button-simple-108:active {
  border: 1px solid rgba(0,0,0,0.08);
  box-shadow: 0 12px 18px 0 rgba(0,0,0,0.1);
}
.button-shadow-110.button-contrast-107:hover {
  box-shadow: 0 12px 18px 0 rgba(0,85,187,0.4);
}
.button-shadow-110.button-contrast-107:focus {
  box-shadow: 0 12px 18px 0 rgba(0,85,187,0.4);
}
.button-shadow-110.button-contrast-107:active {
  box-shadow: 0 12px 18px 0 rgba(0,85,187,0.4);
}
.button-shadow-110.button-brand-106:hover {
  box-shadow: 0 12px 18px 0 rgba(255,140,0,0.4);
}
.button-shadow-110.button-brand-106:focus {
  box-shadow: 0 12px 18px 0 rgba(255,140,0,0.4);
}
.button-shadow-110.button-brand-106:active {
  box-shadow: 0 12px 18px 0 rgba(255,140,0,0.4);
}
.button-shadow-110.button-brand-106.button-accent-103 {
  background: linear-gradient(to bottom, #ff9810, #ff8300);
}
.button-shadow-110.button-brand-106.button-accent-103.button-disabled-114 {
  background: rgba(0,0,0,0.1);
  background-clip: padding-box;
}
.button-icon-self-111 {
  width: 100%;
  height: 100%;
}
.button-icon-path-112 {
  fill: #999;
}
.button-empty-113 {
  width: auto;
}
.button-empty-113.button-accent-103 {
  min-width: 100%;
}
.button-empty-113.button-normal-104 {
  min-width: 100%;
}
.button-empty-113.button-minor-105 {
  min-width: 100%;
}
.button-empty-113.button-simple-108.button-minor-105 .button-content-115 {
  padding: 0 11px;
}
.button-empty-113.button-simple-108.button-normal-104 .button-content-115 {
  padding: 0 13px;
}
.button-empty-113.button-simple-108.button-accent-103 .button-content-115 {
  padding: 0 16px;
}
.button-empty-113.button-minor-105 .button-content-115 {
  padding: 0 12px;
}
.button-empty-113.button-normal-104 .button-content-115 {
  padding: 0 14px;
}
.button-empty-113.button-accent-103 .button-content-115 {
  padding: 0 17px;
}
.button-disabled-114 {
  color: rgba(0,0,0,0.4);
  background: rgba(0,0,0,0.1);
  box-shadow: none;
  background-clip: padding-box;
}
.button-disabled-114:hover {
  color: rgba(0,0,0,0.4);
  cursor: default;
  background: rgba(0,0,0,0.1);
  box-shadow: none;
  background-clip: padding-box;
}
.button-disabled-114.button-shadow-110 {
  box-shadow: none;
}
.button-disabled-114 .button-icon-path-112 {
  fill: rgba(0,0,0,0.4);
}
.button-disabled-114 .button-spinner-status-121 {
  stroke: rgba(0,0,0,0.4);
}
.button-disabled-114.button-shadow-110:hover {
  box-shadow: none;
}
.button-content-115 {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  justify-content: center;
}
.button-content-icon-116 {
  position: relative;
  flex-shrink: 0;
}
.button-content-icon-116:last-child {
  margin-right: 0;
}
.button-content-text-117 {
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.button-content-load-118 {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  position: absolute;
}
.button-loading-119:hover {
  cursor: default;
}
.button-loading-119 .button-content-icon-116 {
  visibility: hidden;
}
.button-loading-119 .button-content-text-117 {
  visibility: hidden;
}
.button-loading-119 .button-content-load-118 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.button-spinner-self-120 {
  animation: jss-spinner-self 2000ms linear infinite;
  transform-origin: center center;
}
.button-spinner-status-121 {
  fill: none;
  animation: jss-spinner-status 1500ms ease-in-out infinite;
  stroke-linecap: round;
  stroke-dasharray: 89, 200;
  stroke-dashoffset: 0;
}

.section-self-86 {
  box-sizing: inherit;
}
.section-size1-87 {
  margin-top: 5px;
  margin-bottom: 5px;
}
.section-size1-87:first-child {
  margin-top: 0;
}
.section-size1-87:last-child {
  margin-bottom: 0;
}
.section-size2-88 {
  margin-top: 10px;
  margin-bottom: 10px;
}
.section-size2-88:first-child {
  margin-top: 0;
}
.section-size2-88:last-child {
  margin-bottom: 0;
}
.section-size3-89 {
  margin-top: 15px;
  margin-bottom: 15px;
}
.section-size3-89:first-child {
  margin-top: 0;
}
.section-size3-89:last-child {
  margin-bottom: 0;
}
.section-size4-90 {
  margin-top: 20px;
  margin-bottom: 20px;
}
.section-size4-90:first-child {
  margin-top: 0;
}
.section-size4-90:last-child {
  margin-bottom: 0;
}
.section-size5-91 {
  margin-top: 25px;
  margin-bottom: 25px;
}
.section-size5-91:first-child {
  margin-top: 0;
}
.section-size5-91:last-child {
  margin-bottom: 0;
}
.section-size6-92 {
  margin-top: 30px;
  margin-bottom: 30px;
}
.section-size6-92:first-child {
  margin-top: 0;
}
.section-size6-92:last-child {
  margin-bottom: 0;
}
.section-size7-93 {
  margin-top: 35px;
  margin-bottom: 35px;
}
.section-size7-93:first-child {
  margin-top: 0;
}
.section-size7-93:last-child {
  margin-bottom: 0;
}
.section-size8-94 {
  margin-top: 40px;
  margin-bottom: 40px;
}
.section-size8-94:first-child {
  margin-top: 0;
}
.section-size8-94:last-child {
  margin-bottom: 0;
}
.section-size9-95 {
  margin-top: 45px;
  margin-bottom: 45px;
}
.section-size9-95:first-child {
  margin-top: 0;
}
.section-size9-95:last-child {
  margin-bottom: 0;
}

.compact-block-title-self-172 {
  color: #000;
  padding: 0;
  font-size: 26px;
  margin-top: 20px;
  font-weight: 300;
  line-height: 1.23;
  margin-bottom: 20px;
}
.compact-block-title-self-172:first-child {
  margin-top: 0;
}
.compact-block-title-self-172:last-child {
  margin-bottom: 0;
}
body {
    overflow-y: scroll;
    font-family: 'Museo Sans', 'Arial', 'Helvetica Neue', 'Helvetica', sans-serif;
    font-weight: 300;
    line-height: 1;
    background-color: #f5f5f5;
}

* {
  box-sizing: border-box;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  font: inherit;
  margin: 0;
  border: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
}
strong {
  font-weight: bold;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
table {
  border-spacing: 0;
  border-collapse: collapse;
}
svg {
  display: inline-block;
  vertical-align: top;
}
@font-face {
  src: url(/static/MuseoSans_100_normal.ff88c4ad284ba261a229a9c4f7e9fafd.woff2) format(woff2);
  font-family: Museo Sans;
  font-style: normal;
  font-weight: 100;
  src: url(/static/MuseoSans_100_normal.babf959a5ca2af08a8bbc4b922d66730.woff);
}
@font-face {
  src: url(/static/MuseoSans_100_italic.f761c230651c192606a663450a5bdb2b.woff2) format(woff2);
  font-family: Museo Sans;
  font-style: italic;
  font-weight: 100;
  src: url(/static/MuseoSans_100_italic.2b5bf833f87882ec97b4925c29c782d4.woff);
}
@font-face {
  src: url(/static/MuseoSans_300_normal.e76032feeed9724a2079d148c07a6ad8.woff2) format(woff2);
  font-family: Museo Sans;
  font-style: normal;
  font-weight: 300;
  src: url(/static/MuseoSans_300_normal.9ca14accae2a6b987bb5fc0000236572.woff);
}
@font-face {
  src: url(/static/MuseoSans_300_italic.188d2f71dac839329f69f99141844fe0.woff2) format(woff2);
  font-family: Museo Sans;
  font-style: italic;
  font-weight: 300;
  src: url(/static/MuseoSans_300_italic.92c038ad48f7e9153ee6645444bbb40a.woff);
}
@font-face {
  src: url(/static/MuseoSans_500_normal.0c2fa471a0bf99124096664a1bd6a040.woff2) format(woff2);
  font-family: Museo Sans;
  font-style: normal;
  font-weight: 500;
  src: url(/static/MuseoSans_500_normal.171ad3582ab0543d4ee818a476c26fd7.woff);
}
@font-face {
  src: url(/static/MuseoSans_500_italic.69d9bb7a5461efc2df3769b86df854ca.woff2) format(woff2);
  font-family: Museo Sans;
  font-style: italic;
  font-weight: 500;
  src: url(/static/MuseoSans_500_italic.1cb18a77f8e5c3dc66fc8324e57f6e36.woff);
}
@font-face {
  src: url(/static/MuseoSans_700_normal.3e002a90aa94f40e3070180559e0abc0.woff2) format(woff2);
  font-family: Museo Sans;
  font-style: normal;
  font-weight: 700;
  src: url(/static/MuseoSans_700_normal.8cd551a3e382a4db9aa3717cda06188e.woff);
}
@font-face {
  src: url(/static/MuseoSans_700_italic.ef282e1138660377be5255812b4d868c.woff2) format(woff2);
  font-family: Museo Sans;
  font-style: italic;
  font-weight: 700;
  src: url(/static/MuseoSans_700_italic.93bed65273104b76966d475042a0c797.woff);
}
@font-face {
  src: url(/static/MuseoSans_900_normal.6d752f5b705d5f71f6672b1e8de5eaba.woff2) format(woff2);
  font-family: Museo Sans;
  font-style: normal;
  font-weight: 900;
  src: url(/static/MuseoSans_900_normal.9178f1dc9d1339a5fb064bd80ad89697.woff);
}
@font-face {
  src: url(/static/MuseoSans_900_italic.16c55ee979764c93a4d79f1824fd3303.woff2) format(woff2);
  font-family: Museo Sans;
  font-style: italic;
  font-weight: 900;
  src: url(/static/MuseoSans_900_italic.8381584160d4f5f030704261226ed1cb.woff);
}
html, body, #app {
  height: 100%;
  position: relative;
}
body {
  overflow-y: scroll;
  font-family: 'Museo Sans', 'Arial', 'Helvetica Neue', 'Helvetica', sans-serif;
  font-weight: 300;
  line-height: 1;
  background-color: #f5f5f5;
}
#qiwi-sso-client-rpc-iframe {
  display: none;
  visibility: hidden;
}
@-webkit-keyframes jss-spinner-self {
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes jss-spinner-status {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124;
  }
}
@-webkit-keyframes wobble-down {
  0% {
    transform: translate3d(0, -6px, 0);
  }
  100% {
    transform: translate3d(0, 7px, 0);
  }
}
@-webkit-keyframes wobble-up {
  0% {
    transform: translate3d(0, 7px, 0);
  }
  100% {
    transform: translate3d(0, -5px, 0);
  }
}
@-webkit-keyframes placeholder {
  0% {
    opacity: 0.04;
  }
  50% {
    opacity: 0.1;
  }
  100% {
    opacity: 0.04;
  }
}
@-webkit-keyframes success-hand-up {
  from {
    transform: translateY(80px);
  }
  to {
    transform: translateY(0);
  }
}
@-webkit-keyframes success-hand-rotate {
  from {
    transform: rotate(50deg);
  }
  to {
    transform: rotate(0);
  }
}
@-webkit-keyframes success-show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes clock-rotate {
  100% {
    transform: rotateZ(360deg);
  }
}
@-webkit-keyframes confetti {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(0, 8px);
  }
  100% {
    transform: translate(0, 0);
  }
}
@-webkit-keyframes nps-description-show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.6;
  }
}
@-webkit-keyframes nps-star-show {
  0% {
    opacity: 0;
    transform: scale(0.5) translateX(-20px);
  }
  50% {
    opacity: 1;
    transform: scale(0.5) translateX(0);
  }
  100% {
    opacity: 1;
    transform: scale(1) translateX(0);
  }
}
@-webkit-keyframes dots-loader {
  0% {
    transform: translateY(2px);
  }
  50% {
    transform: translateY(-2px);
  }
  100% {
    transform: translateY(2px);
  }
}

.api-step-content-self-173 {
  padding: 30px 40px 40px;
}
.typo-self-187 {
  padding: 0;
  margin-top: 10px;
  margin-bottom: 10px;
}
.typo-self-187:first-child {
  margin-top: 0;
}
.typo-self-187:last-child {
  margin-bottom: 0;
}
.typo-title-xxs-188 {
  color: rgba(0,0,0,0.5);
  font-size: 13px;
  line-height: 1.23;
  font-weight: 500;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}
.typo-title-xxs-188.typo-bold-205 {
  color: #000;
  font-weight: 700;
}
.typo-title-xxs-188.typo-contrast-198 {
  color: rgba(255,255,255,0.5);
}
.typo-title-xxs-188>.typo-inline-204.typo-bold-205 {
  color: #000;
  font-weight: 700;
}
.typo-title-xxs-188.typo-contrast-198.typo-bold-205 {
  color: #fff;
  font-weight: 700;
}
.typo-title-xxs-188.typo-contrast-198>.typo-inline-204.typo-bold-205 {
  color: #fff;
  font-weight: 700;
}
.typo-title-xs-189 {
  font-size: 16px;
  line-height: 1.5;
  font-weight: 300;
}
.typo-title-xs-189.typo-bold-205 {
  font-weight: 700;
}
.typo-title-xs-189>.typo-inline-204.typo-bold-205 {
  font-weight: 700;
}
.typo-title-s-190 {
  font-size: 18px;
  line-height: 1.33;
  font-weight: 300;
}
.typo-title-s-190.typo-bold-205 {
  font-weight: 500;
}
.typo-title-s-190>.typo-inline-204.typo-bold-205 {
  font-weight: 500;
}
.typo-title-m-191 {
  font-size: 20px;
  line-height: 1.2;
  font-weight: 300;
}
.typo-title-m-191.typo-bold-205 {
  font-weight: 700;
}
.typo-title-m-191>.typo-inline-204.typo-bold-205 {
  font-weight: 700;
}
.typo-title-l-192 {
  font-size: 26px;
  line-height: 1.23;
  font-weight: 300;
}
.typo-title-l-192.typo-bold-205 {
  font-weight: 900;
}
.typo-title-l-192>.typo-inline-204.typo-bold-205 {
  font-weight: 900;
}
.typo-title-xl-193 {
  font-size: 30px;
  line-height: 1.2;
  font-weight: 900;
}
.typo-title-xxl-194 {
  color: rgba(0,0,0,0.9);
  font-size: 32px;
  line-height: 1.13;
  font-weight: 900;
}
.typo-title-xxl-194.typo-contrast-198 {
  color: rgba(255,255,255,0.9);
}
.typo-text-small-195 {
  color: rgba(0,0,0,0.6);
  font-size: 14px;
  line-height: 1.43;
  font-weight: 300;
}
.typo-text-small-195.typo-bold-205 {
  color: #000;
  font-weight: 500;
}
.typo-text-small-195.typo-contrast-198 {
  color: rgba(255,255,255,0.6);
}
.typo-text-small-195>.typo-inline-204.typo-bold-205 {
  color: #000;
  font-weight: 500;
}
.typo-text-small-195.typo-contrast-198.typo-bold-205 {
  color: #fff;
  font-weight: 500;
}
.typo-text-small-195.typo-contrast-198>.typo-inline-204.typo-bold-205 {
  color: #fff;
  font-weight: 500;
}
.typo-text-medium-196 {
  font-size: 16px;
  line-height: 1.5;
  font-weight: 300;
}
.typo-text-medium-196.typo-bold-205 {
  font-weight: 500;
}
.typo-text-medium-196>.typo-inline-204.typo-bold-205 {
  font-weight: 500;
}
.typo-text-large-197 {
  font-size: 18px;
  line-height: 1.33;
  font-weight: 300;
}
.typo-contrast-198 {
  color: #fff;
}
.typo-center-199 {
  text-align: center;
}
.typo-left-200 {
  text-align: left;
}
.typo-right-201 {
  text-align: right;
}
.typo-italic-202 {
  font-style: italic;
}
.typo-scratch-203 {
  text-decoration: line-through;
}
.typo-inline-204 {
  display: inline;
}
.typo-bold-205 {
  box-sizing: inherit;
}
.typo-unordered-list-206 {
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
}
.typo-unordered-list-206:first-child {
  margin-top: 0;
}
.typo-unordered-list-206:last-child {
  margin-bottom: 0;
}
.typo-unordered-list-206>.typo-list-item-209 {
  padding: 0 0 0 20px;
  position: relative;
  margin-top: 16px;
  margin-bottom: 16px;
}
.typo-unordered-list-206>.typo-list-item-209:first-child {
  margin-top: 0;
}
.typo-unordered-list-206>.typo-list-item-209:last-child {
  margin-bottom: 0;
}
.typo-unordered-list-206>.typo-list-item-209:before {
  top: 0;
  left: 0;
  content: "•";
  display: block;
  position: absolute;
}
.typo-ordered-list-207 {
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  counter-reset: num-list;
}
.typo-ordered-list-207:first-child {
  margin-top: 0;
}
.typo-ordered-list-207:last-child {
  margin-bottom: 0;
}
.typo-ordered-list-207>.typo-list-item-209 {
  padding: 0 0 0 20px;
  position: relative;
  margin-top: 16px;
  margin-bottom: 16px;
}
.typo-ordered-list-207>.typo-list-item-209:first-child {
  margin-top: 0;
}
.typo-ordered-list-207>.typo-list-item-209:last-child {
  margin-bottom: 0;
}
.typo-ordered-list-207>.typo-list-item-209:before {
  top: 0;
  left: 0;
  content: counter(num-list) ".";
  display: block;
  position: absolute;
  counter-increment: num-list;
}
.typo-step-list-208 {
  display: block;
  position: relative;
  margin-top: 10px;
  margin-bottom: 10px;
  counter-reset: step-list;
}
.typo-step-list-208:first-child {
  margin-top: 0;
}
.typo-step-list-208:last-child {
  margin-bottom: 0;
}
.typo-step-list-208>.typo-list-item-209 {
  position: relative;
  padding-left: 60px;
}
.typo-step-list-208>.typo-list-item-209:before {
  top: -10px;
  left: 0;
  width: 40px;
  color: #000;
  height: 40px;
  content: counter(step-list);
  display: inline-block;
  position: absolute;
  font-size: 18px;
  text-align: center;
  font-weight: 500;
  line-height: 40px;
  border-radius: 100%;
  background-color: #f5f5f5;
  counter-increment: step-list;
}
.typo-step-list-208>.typo-list-item-209:not(:last-child) {
  margin-bottom: 56px;
}
.typo-step-list-208>.typo-list-item-209:not(:last-child):after {
  top: 40px;
  left: 18px;
  width: 3px;
  height: calc(100% - 5px);
  content: "";
  position: absolute;
  border-radius: 1.5px;
  background-color: #f5f5f5;
}
.typo-list-item-209 {
  box-sizing: inherit;
}

.vertical-normal-controls-self-210 {
  display: inline-block;
  max-width: 100%;
}
.vertical-normal-controls-item-211 {
  display: block;
  text-align: center;
  margin-bottom: 20px;
}
.vertical-normal-controls-item-211:last-child {
  margin-bottom: 0;
}



.mask-text-input-form-field-self-129 {
  position: relative;
}
.mask-text-input-form-field-title-130 {
  height: 13px;
  position: relative;
}
.mask-text-input-form-field-title-text-131 {
  top: 17px;
  left: 0;
  color: rgba(0,0,0,0.5);
  position: absolute;
  overflow: hidden;
  max-width: 100%;
  font-size: 20px;
  transition: all 120ms cubic-bezier(0.4, 0.0, 0.2, 1);
  line-height: 1;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.mask-text-input-form-field-under-132 {
  width: 100%;
  margin: 4px 0 0;
  display: flex;
  font-size: 13px;
  min-height: 13px;
  line-height: 1;
  justify-content: flex-start;
}
.mask-text-input-form-field-under-help-133 {
  color: rgba(0,0,0,0.5);
  text-align: left;
}
.mask-text-input-form-field-under-error-134 {
  color: #ed4848;
  text-align: left;
}
.mask-text-input-form-field-under-addition-135 {
  text-align: right;
  white-space: nowrap;
  margin-left: auto;
  padding-left: 20px;
}
.mask-text-input-form-field-input-136 {
  position: relative;
}
.mask-text-input-form-field-filled-137 .mask-text-input-form-field-title-text-131 {
  top: 0;
  font-size: 13px;
}
.asdasdwea {
  top: 0;
  font-size: 13px;
}
.mask-text-input-form-field-invalid-138 .mask-text-input-form-field-input-control-self-141 {
  border-bottom-width: 2px;
  border-bottom-color: #ed4848;
}
.mask-text-input-form-field-focused-139 .mask-text-input-form-field-title-text-131 {
  top: 0;
  font-size: 13px;
}
.mask-text-input-form-field-focused-139 .mask-text-input-form-field-input-control-self-141 {
  border-bottom-width: 2px;
  border-bottom-color: #FF8C00;
}
.mask-text-input-form-field-disabled-140 .mask-text-input-form-field-input-control-self-141 {
  color: rgba(0,0,0,0.5);
  border-bottom: 1px dotted rgba(0,0,0,0.4);
}
.mask-text-input-form-field-input-control-self-141 {
  width: 100%;
  color: #000;
  height: 32px;
  margin: 0;
  border: none;
  padding: 0;
  outline: none;
  font-size: 20px;
  transition: border-color 120ms cubic-bezier(0.4, 0.0, 0.2, 1);
  font-family: 'Museo Sans', 'Arial', 'Helvetica Neue', 'Helvetica', sans-serif;
  font-weight: inherit;
  text-indent: 0;
  line-height: 1;
  border-radius: 0;
  border-bottom: 1px solid rgba(0,0,0,0.2);
  vertical-align: middle;
  background-color: transparent;
  -webkit-appearance: textfield;
}
.mask-text-input-form-field-input-control-self-141::-ms-clear {
  display: none;
}
.mask-text-input-form-field-input-control-self-141::-webkit-search-decoration {
  display: none;
}
.mask-text-input-form-field-input-control-self-141::-webkit-search-cancel-button {
  display: none;
}
.mask-text-input-form-field-input-control-self-141::-webkit-search-results-button {
  display: none;
}
.mask-text-input-form-field-input-control-self-141::-webkit-search-results-decoration {
  display: none;
}
.mask-text-input-form-field-input-control-self-141::-ms-reveal {
  display: none;
}
.mask-text-input-form-field-input-control-self-141::-webkit-credentials-auto-fill-button {
  right: 0;
  display: none;
  position: absolute;
  visibility: hidden;
  pointer-events: none;
}
.mask-text-input-form-field-input-control-self-141::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
.mask-text-input-form-field-input-control-self-141::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.mask-text-input-form-field-input-hint-142 {
  top: 4px;
  right: 0;
  width: 20px;
  height: 20px;
  z-index: 1;
  position: absolute;
  line-height: 0;
}
.mask-text-input-form-field-hinted-143 .mask-text-input-form-field-title-text-131 {
  padding-right: 25px;
}
.mask-text-input-form-field-hinted-143 .mask-text-input-form-field-input-control-self-141 {
  padding-right: 25px;
}
#chat{
		 height: 300px;
		 position: fixed;
		 margin-top: -300px;
}
.fuuu {
    border-bottom-width: 2px;
    border-bottom-color: #ed4848;
}
.lock {
    color: #fff;
    background: #ffb357;
}
.lock:hover {
	background: #fcad4f;
}